[Unit]
After=docker.service
#After=network.target
Requires=docker.service
Description=Papycast systemd service

[Service]
User=pi
Type=simple
Restart=always
WorkingDirectory=/opt/git/iia/papycast/backend

ExecStartPre=/usr/bin/docker \
pull iia86/papycast:arm32v7-latest

#ExecStart=/opt/git/iia/papycast/backend/start.sh
ExecStart=/usr/bin/docker \
run \
--rm \
-p 5000:5000 \
--device /dev/gpiomem \
--device /dev/spidev0.0 \
-i iia86/papycast:arm32v7-latest

[Install]
WantedBy=multi-user.target
