[Unit]
Requires=docker.socket
After=docker.service network.target
Description=Papycast systemd service

[Service]
User=pi
Type=simple
Restart=always
WorkingDirectory=/opt/git/iia/papycast/backend

ExecStart=/opt/git/iia/papycast/start.sh
ExecStop=/opt/git/iia/papycast/stop.sh

[Install]
WantedBy=network-online.target
