[Unit]
Description=Papycast systemd service
After=network.target

[Service]
Type=simple
User=pi
WorkingDirectory=/home/pi/git/iia/papycast/backend
ExecStart=/home/pi/git/iia/papycast/backend/start.sh
Restart=always

[Install]
WantedBy=multi-user.target
